name: Lint and test
on: [push]
jobs:
  test_and_lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Poetry
        run: pipx install poetry
      - uses: actions/setup-python@v4
        id: setup-python
        with:
          python-version: "3.10"
          cache: "poetry"
      - name: Set Poetry Environment
        run: poetry env use 3.10
      - name: Install dependencies
        run: poetry install
      # - name: Check formatting
      #   run: poetry run ./scripts/format_check.sh
      - name: Cache Pre-commit for format checking
        uses: actions/cache@v3
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-3|${{ env.pythonLocation }}|${{ hashFiles('.pre-commit-config.yaml') }}
      - name: Check formatting
        run: poetry run pre-commit run --all-files --show-diff-on-failure --color=always
      - name: Run Pytest
        run: poetry run pytest
